* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  max-width: 75px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__signin {
  display: flex;
  flex-direction: column;
}

.app__logoutConatiner {
  display: flex;
}

.app__displayName {
  font-weight: normal;
  text-align: center;
}

.app__menus {
  padding: 20px;
}